<h1>One#store</h1>
<p>Find me in app/views/one/store.html.erb</p>

<% for file in @files %>
Directories:<%=file%>
</br>
<%end%>
<p><h2>Have a Wonderful Journey!!!</h2></p>
<p> <%=link_to "Submitted"> one_submit_path%>